.ant-input {
  color: black;
}
.login {
  width: 100%;
  height: 100%;
  background-image: url('../../../img/QQ图片20211103143952.jpg');
}
.login img {
  width: 300px;
  height: 500px;
  display: inline-block;
  position: absolute;
  top: 0;
}
