* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.login {
  width: 100%;
  height: 100%;
  display: flex;

  .login_left {
    img {
      width: 670px;
      height: 620px;
      margin-left: 100px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  .login_right {
    width: 45%;
    height: 620px;
    margin-top: 50px;

    background-color: #f7fafb;
    .oneInput {
      margin-top: 180px;
    }
  }
}
