* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.document {
  width: 100%;
  height: 100%;
  .document_header {
    width: 97%;
    line-height: 42px;
    margin-top: 25px;
    margin-left: 22px;
    background-color: #fffbe6;
    border: 1px solid ffe58f;
    #io {
      font-weight: 800;
    }
  }
  .document_top {
    width: 97%;
    height: 140px;
    margin-top: 25px;
    margin-left: 22px;
    background-color: #fff;
  }
  .document_bottom {
    width: 97%;
    background-color: #fff;
    margin-left: 22px;
    margin-top: 20px;
    .document_col {
      margin-left: 20px;
      margin-top: 30px;
      img {
        width: 100%;
        height: 224px;
      }
    }
    .bottom_page {
      padding-left: 800px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}
