.allarticle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(228, 228, 228);
  }
  .main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: rgb(238, 237, 237);
    .main_top {
      width: 100%;
      height: 35%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: space-around;
      line-height: 100px;
    }
    .main_bottom {
      margin-top: 2%;
      width: 100%;
      height: 75%;
      background-color: rgb(255, 255, 255);
    }
  }
}
.btn_header {
  width: 50px;
  height: 30px;
}
.table_a {
  display: flex;
  justify-content: space-around;
}
.main_type {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  padding: 2%;
}
.main_left {
  width: 34%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  .main_left_top {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid rgb(224, 206, 206);
  }
}
.main_right {
  margin-left: 2%;
  width: 64%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  .main_right_top {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid rgb(224, 206, 206);
    display: flex;
  }
  .main_right_buttom {
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    .main_right_top_div {
      margin-left: 20px;
      border: 1px solid rgb(196, 196, 196);
      background-color: rgb(251, 251, 251);
      height: 25px;
      border-radius: 5%;
    }
  }
}
.main_left_buttom {
  width: 90%;
  height: 400px;
  margin-left: 5%;
  .main_left_buttom_div {
    margin-top: 50px;
  }
}
.tag_box {
  width: 100%;
  height: 100%;
}
