.styles {
  width: 100%;
  height: 100%;
  background-color: salmon;
  display: flex;
  flex-direction: column;
  .styles_header {
    width: 100%;
    height: 15%;
    background-color: rgb(255, 255, 255);
  }
  .styles_main {
    width: 100%;
    height: 85%;
    background-color: rgb(240, 240, 240);
  }
}
.ind {
  width: 100%;
  height: 100%;
}
.ind_box {
  width: 100%;
  height: 100%;
}
