.TheHead {
  width: 100%;
  height: 58px;
  background-color: #fff;
}
.breadcrumb {
  width: 100%;
  height: 22px;
  padding: 15px;
}
.workbench {
  color: #ccc;
}
.page {
  color: #000;
}
.legacy {
  width: 97%;
  height: 795px;
  margin: 0 auto;
  margin-top: 24px;
}
.operation {
  width: 100%;
  height: 167px;
  background-color: #fff;
}
.form {
  width: 100%;
  height: 600px;
  margin-top: 24px;
  background-color: #fff;
}
.ant-input {
  width: 200px;
  margin: 0 8px 8px 0;
  margin-left: 20px;
  margin-top: 30px;
}
