* {
  list-style: none;
}
.box {
  text-align: center;
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.65);
  ul {
    color: rgba(0, 0, 0, 0.65);
  }
}
.icon {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.65);
}
