.TheHead {
  width: 100%;
  height: 58px;
  background-color: #fff;
}
.breadcrumb {
  width: 100%;
  height: 22px;
  padding: 15px;
}
.workbench {
  color: #ccc;
}
.page {
  color: #000;
}
.legacy {
  width: 97%;
  height: 795px;
  margin: 0 auto;
  margin-top: 24px;
}
.operation {
  width: 100%;
  height: 167px;
  background-color: #fff;
}
.row {
  width: 100%;
  height: 80px;
  padding-top: 35px;
  > span {
    width: 500px;
    height: 80px;
    padding-left: 20px;
    padding-right: 12px;
    > input {
      width: 247px;
      height: 32px;
      border: 1px solid #ccc;
    }
  }
}
.buttons {
  width: 100%;
  height: 40px;
  padding-top: 30px;
  .search {
    width: 65px;
    height: 30px;
    background-color: blue;
    color: #fff;
    border: none;
    margin-left: 88%;
  }
  .reset {
    width: 65px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-left: 10px;
  }
}
.form {
  width: 100%;
  height: 600px;
  margin-top: 34px;
  background-color: #fff;
}
.ant-input {
  width: 200px;
  margin: 0 8px 8px 0;
  margin-left: 20px;
  margin-top: 30px;
}
.buttonof {
  width: 100%;
  height: 60px;

  .TableOperation {
    width: 285px;
    height: 60px;
    padding-top: 20px;
    padding-left: 15px;
    > button {
      width: 64px;
      height: 32px;
      margin-left: 15px;
      background-color: #fff;
      border: 1px silid #ccc;
    }
  }
  .new {
    width: 82px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin-top: 20px;
    margin-left: 1100px;
    background-color: cornflowerblue;
    > a {
      font-size: 15px;
      color: #fff;
    }
  }
}
